doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{name}'s Portfolio
    link(rel="stylesheet", href="/style/style.css")
  body
    .container
      .profile
        img.profile-pic(src="/images/profile.png", alt="Profile Picture")

      .info
        h1 #{name}
        p.age #{age}
        span.profession #{profession}

        h2 Skills
        ul.skills-list
          each skill in skills
            li= skill
