<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= name %>'s Profile</title>
  <link rel="stylesheet" href="/style/style.css" />
</head>
<body>
  <div class="hero-container">
    <div class="card">
      <div class="top-bg"></div>

      <div class="profile-img-wrapper">
        <img src="/images/profile.png" alt="Profile Picture" class="profile-img" />
      </div>

      <div class="profile-info">
        <h1 class="name"><%= name %></h1>
        <p class="profession"><%= profession %></p>
        <p class="age">Age: <%= age %></p>

        <h2 class="skill-heading">Skills</h2>
        <ul class="skills-list">
          <% skills.forEach(skill => { %>
            <button><%= skill %></button>
          <% }) %>
        </ul>

      
      </div>
    </div>
  </div>
</body>
</html>
